@import url("https://fonts.cdnfonts.com/css/open-sauce-one");
@import "tailwindcss";

@theme {
  --font-family-open-sauce: "Open Sauce One", sans-serif;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}